body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: #F69033;
    outline: 1px solid #ffe6ab;
}